In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_html('https://phys.libretexts.org/Bookshelves/University_Physics/Book%3A_University_Physics_(OpenStax)/University_Physics_III_-_Optics_and_Modern_Physics_(OpenStax)/11%3A_Particle_Physics_and_Cosmology/11.04%3A_Quarks')
df2 = pd.read_html('https://phys.libretexts.org/Bookshelves/University_Physics/Book%3A_University_Physics_(OpenStax)/University_Physics_III_-_Optics_and_Modern_Physics_(OpenStax)/11%3A_Particle_Physics_and_Cosmology/11.03%3A_Particle_Conservation_Laws')

# ---------

In [2]:
df_leptons = pd.read_csv('tables/leptons.csv')

In [21]:
df_leptons.query('idx in (2, 5)')

,idx,name,symbol,quarks,Q,J,P,baryonnumber,leptonnumber,T,T_3,I,I_3,S,C,B,T.1,L_e,L_mu,L_tau
2,2,Muon,\mu^-,-,-1,0.5,-1,0,1,0.5,-0.5,0,0,0,0,0,0,0,1,0
5,5,Tau neutrino,\nu_{\tau},-,0,0.5,-1,0,1,0.5,0.5,0,0,0,0,0,0,0,0,1

In [26]:
df_leptons.P.product()

1

i = fa + X
i-fa = X

In [23]:
df_leptons.query('idx in (2, 5)').sum().reset_index()

           index                 0
0            idx                 7
1           name  MuonTau neutrino
2         symbol   \mu^-\nu_{\tau}
3         quarks                --
4              Q                -1
5              J               1.0
6              P                -2
7   baryonnumber                 0
8   leptonnumber                 2
9              T               1.0
10           T_3               0.0
11             I                 0
12           I_3                 0
13             S                 0
14             C                 0
15             B                 0
16           T.1                 0
17           L_e                 0
18          L_mu                 1
19         L_tau                 1

In [3]:
from itertools import permutations, product
import numpy as np

In [7]:
list(product([1,2,3], repeat=1))

[(1,), (2,), (3,)]

In [10]:
[tuple([i for i in np.sort(j)]) for j in product([1,2,3], repeat=1)]

[(1,), (2,), (3,)]

In [2]:
d = {0: 'a', 1: 'b', 2: 'c'}

In [7]:
import numpy as np

In [11]:
all(np.arange(10) != 4)

False

In [32]:
list(permutations(([1,2,3], [1,2,3])))

[([1, 2, 3], [1, 2, 3]), ([1, 2, 3], [1, 2, 3])]

In [29]:
list(permutations([1, 2, 3, 4, 5], 3))

[(1, 2, 3),
 (1, 2, 4),
 (1, 2, 5),
 (1, 3, 2),
 (1, 3, 4),
 (1, 3, 5),
 (1, 4, 2),
 (1, 4, 3),
 (1, 4, 5),
 (1, 5, 2),
 (1, 5, 3),
 (1, 5, 4),
 (2, 1, 3),
 (2, 1, 4),
 (2, 1, 5),
 (2, 3, 1),
 (2, 3, 4),
 (2, 3, 5),
 (2, 4, 1),
 (2, 4, 3),
 (2, 4, 5),
 (2, 5, 1),
 (2, 5, 3),
 (2, 5, 4),
 (3, 1, 2),
 (3, 1, 4),
 (3, 1, 5),
 (3, 2, 1),
 (3, 2, 4),
 (3, 2, 5),
 (3, 4, 1),
 (3, 4, 2),
 (3, 4, 5),
 (3, 5, 1),
 (3, 5, 2),
 (3, 5, 4),
 (4, 1, 2),
 (4, 1, 3),
 (4, 1, 5),
 (4, 2, 1),
 (4, 2, 3),
 (4, 2, 5),
 (4, 3, 1),
 (4, 3, 2),
 (4, 3, 5),
 (4, 5, 1),
 (4, 5, 2),
 (4, 5, 3),
 (5, 1, 2),
 (5, 1, 3),
 (5, 1, 4),
 (5, 2, 1),
 (5, 2, 3),
 (5, 2, 4),
 (5, 3, 1),
 (5, 3, 2),
 (5, 3, 4),
 (5, 4, 1),
 (5, 4, 2),
 (5, 4, 3)]